<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
    <script src="~/Scripts/react/react.js"></script>
    <script src="~/Scripts/react/react-dom.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="col-md-10">
        <img src="~/Images/Sikh temple 3.jpg" />
    </div>
    <div class="col-md-1">
        <h6>Guru Gobind Singh Gurdwara , Sikh Temple , Ealing , London</h6>
    </div>
    <div class="col-md-1">
        <h6>ਗੁਰੂ ਗੋਬਿੰਦ ਸਿੰਘ ਗੁਰਦੁਆਰਾ, ਸਿੱਖ ਟੈਂਪਲ, ਈਲਿੰਗ, ਲੰਡਨ</h6>
    </div>
    <nav style="color:blue">
        @Html.ActionLink("Home", "Home", "Home")
        @Html.ActionLink("About Us", "About", "Home")
        @Html.ActionLink("Sikh History", "History", "Home")
        @Html.ActionLink("Contact", "Contact", "Home")
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
